<head>
    <%- include('./partials/head') %>
    <title>NodeBlog</title>
</head>
<body>
    
    <%- include('./partials/nav') %> 
    <%= JSON.stringify(user) %>
    <%- include('./partials/scripts') %>   
     
</body>
</html>