<head>
    <%- include('./partials/head') %>
    <title>NodeBlog</title>
</head>
<body>
    
    <%- include('./partials/nav') %> 
    <%= JSON.stringify(user) %>
    <%- include('./partials/scripts') %>   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
 
</body>
</html>